.App {
  text-align: start;
}

.Tabs{
  background-color: orange;
  margin: 0;
  padding: 10px;
  float: left;
  width: 100%;
  
}

.tab{
  padding: 12px;
  margin-right: 5px;
  font-weight: bold;
  background-color: rgb(3, 3, 58);
  color: white;
  border-radius: 7%;
  border-right: 0.4px solid rgb(55, 54, 54);
  border-bottom: 0.4px solid rgb(55, 54, 54);
}

.active{
  background-color: white;
  color: black;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%; 
  height: 350px; 
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999; 
}

.popup-content {
  padding: 20px; 
  overflow-y: scroll;  
  height: 160px;
}
